:root {
  --anchura-predeterminada: 1024px;
  --anchura-maxima: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, arial;
  font-size: 1rem;
  background-color: #f0f0f0;
  color: #5f6c75;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

main {
  position: relative;
}
main .section-container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 10px;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.color-primario {
  color: #0080d4;
  padding-right: 5px;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 128, 212, 0.3);
}

nav.navigation {
  padding: 0 10px;
  background-color: #f5fbff;
}

nav.navigation ul.menu {
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  padding: 0;
}

nav.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --diametro: 50px;
}
nav.navigation .images {
  position: relative;
  width: var(--diametro);
  height: var(--diametro);
  display: flex;
  align-items: center;
  padding-left: calc(var(--diametro) / 1.2);
}
nav.navigation .images span {
  color: #d45500;
}
nav.navigation .images img {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: calc(var(--diametro) / 1.3);
}
nav.navigation ul.menu {
  --height: 50px;
  --border-radius: 5px;
  min-height: calc(var(--height) * 1.40);
  display: none;
  align-items: center;
}
@media screen and (max-width: 430px) {
  nav.navigation ul.menu {
    flex-direction: column;
    align-items: flex-start;
  }
}
nav.navigation ul.menu li {
  margin: 0;
}
nav.navigation ul.menu li .fa-bars {
  color: #0080d4;
  height: var(--height);
  width: var(--height);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.navigation ul.menu li .fa-bars:hover {
  background-color: white;
}
nav.navigation ul.menu li img {
  height: var(--height);
  width: var(--height);
}
nav.navigation ul.menu li a {
  color: #0080d4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: var(--height);
  transition: 300ms ease;
  border-radius: var(--border-radius);
  padding: 0 10px;
}
nav.navigation ul.menu li a:hover {
  background-color: white;
  text-decoration: underline;
  color: #0061a1;
}
nav.navigation #chkMenu {
  display: none;
}
nav.navigation #chkMenu + label {
  --width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  min-width: var(--width);
  height: var(--width);
  color: #0080d4;
  border-radius: 5px;
}
nav.navigation #chkMenu + label:hover {
  background-color: rgba(0, 128, 212, 0.1);
}
nav.navigation #chkMenu:checked + label {
  background-color: #0080d4;
  color: white;
}

.dl-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  min-height: 100vh;
}

.main-container {
  flex: 1 0 auto;
  background-color: white;
}

iframe {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 20px auto;
}

footer.dl-footer {
  position: relative;
  padding: 10px;
  background-color: #0061a1;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
