nav.navigation {
	padding: 0 10px;

	background-color: lighten($color-primario, 56.5);
}

nav.navigation ul.menu {
	list-style-type:none;
	margin: 0;
	margin-left: 0;
	padding: 0;
}

nav.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;

	--diametro: 50px;

	// Logotipo en la barra de menú
	.images {
		position: relative;
		width: var(--diametro);
		height: var(--diametro);

		display: flex;
		align-items: center;
		padding-left: calc(var(--diametro) / 1.2);

		span {
			color: $color-secundario;
		}

		img {
			display: block;
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
			max-width: 100%;
			max-height: calc(var(--diametro) / 1.3);
		}
	}
	// Menú de navegación
	ul.menu {
		--height: 50px;
		--border-radius: 5px;
		min-height: calc(var(--height) * 1.40);

		// Propiedad provisional
		display: none;
		align-items: center;

		@media screen and (max-width: 430px) {
			flex-direction: column;
			align-items: flex-start;
		}

		li {
			margin: 0;
			
			.fa-bars {
				color: $color-primario;
				height: var(--height);
				width: var(--height);
				border-radius: var(--border-radius);

				display: flex;
				align-items: center;
				justify-content: center;

				&:hover {
					background-color: white;
				}
			}

			img {
				height: var(--height);
				width: var(--height);

			}

			a {
				color: $color-primario;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 0.9rem;

				display: flex;
				align-items: center;
				height: var(--height);

				transition: 300ms ease;
				border-radius: var(--border-radius);
				padding: 0 10px;

				&:hover {
					background-color: white;

					text-decoration: underline;
					color: darken($color-primario, 10);
				}
			}
		}
	}

	// Botón menú
	#chkMenu {

		display: none;
		
		& + label {
			// Anchura
			--width: 40px;

			display: flex;
			align-items: center;
			justify-content: center;
			transition: 300ms ease;
			min-width: var(--width);
			height: var(--width);
			color: $color-primario;


			// Guía
			border-radius: 5px;
			
			&:hover {
				background-color: rgba($color-primario, 0.1);
			}
		}

		&:checked + label {
			background-color: $color-primario;
			color: white;
		}
	}


}

