.dl-container {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	align-items: stretch;
	min-height: 100vh;

	&__item {
		
	}
}
.main-container {
	flex: 1 0 auto;
	background-color: white;
}

iframe {
	position: relative;
	width: 800px;
	height: 600px;
	margin: 20px auto;	
}