// Variables y funciones
@import "vars";
@import "functions";
@import "mixins";

// Estilos predeterminado de la página
html, body {
	margin: 0;
	padding: 0;
	
	// Fuentes tipográficas
	font: {
		family: "Open Sans", sans-serif, arial;
		size: 1rem;
	}
	
	// Colores 
	background-color: #f0f0f0;
	color: desaturate($color-primario, 90);
}

* {
	box-sizing: border-box;

	&::before, &::after {
		box-sizing: inherit;
	}
}

main {
	position: relative;

	.section-container {
		margin: 0 auto;
		max-width: 1100px;
		padding: 10px;
	}
}

// Tamaños del título
h1 {font-size: 2.25rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.25rem;}
h6 {font-size: 1rem;}

.color-primario {color: $color-primario; padding-right: 5px;}

hr {
	border: 0;
	border-bottom: 1px solid rgba($color-primario, 0.3);
}
// Animaciones
@import "animations";

// Hojas de estilos del documento
@import "header";
@import "main";
@import "footer";

// Formularios
@import "forms";